.container-fluid {
    min-height: 100%;
    background-color: #ECEFF1;
    position: absolute;
}
.main {
    padding: 8px;
}

.img-container.card.col-md-auto {
    padding: 8px;
    margin-right: 8px;
}

.profile-photo {
    width: 240px;
    height: 341px;
    border-radius: 2px;
}

.btn.btn-primary {
    margin-top: 8px;
}

.profile-name {
    margin-top: 16px;
    font-family: "Roboto Thin", sans-serif;
}

.profile-field-name {
    color: #37474F;
    font-family: "Roboto Light", monospace;
}

.profile-field-value {
    font-family: "Roboto Thin", sans, sans-serif;
}

.bottom-info-card {
    margin-top: 8px;
    padding: 8px;
}